<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<% if current_user %>
  <form action="/session" method="POST">
    <%= auth_token %>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Log Out">
  </form>
<% end %>
</body>
</html>
